{% extends 'base.html.twig' %}

{% block main %}

    <section style="padding: 75px 20px 50px;background: white; height: 100%; overflow: auto;">
        <div class="text-center">
            <h1>Planning des diffusions</h1>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lundi</th>
                    <th scope="col">Mardi</th>
                    <th scope="col">Mercredi</th>
                    <th scope="col">Jeudi</th>
                    <th scope="col">Vendredi</th>
                    <th scope="col">Samedi</th>
                    <th scope="col">Dimanche</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><6h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">6h-7h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">7h-8h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">8h-9h</th>
                    <td class="playlist-electro-swing"><p>Electro-Swing</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">9h-10h</th>
                    <td class="playlist-electro-swing"><p>Electro-Swing</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">10h-11h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">11h-12h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">12h-13h</th>
                    <td class="playlist-emission"><p>Emission</p></td>
                    <td class="playlist-emission"><p>Emission</p></td>
                    <td class="playlist-emission"><p>Emission</p></td>
                    <td class="playlist-emission"><p>Emission</p></td>
                    <td class="playlist-emission"><p>Emission</p></td>
                    <td class="playlist-emission"><p>Emission</p></td>
                    <td class="playlist-emission"><p>Emission</p></td>
                </tr>
                <tr>
                    <th scope="row">13h-14h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">14h-15h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">15h-16h</th>
                    <td class="playlist-electro-swing"><p>Electro-Swing</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">16h-17h</th>
                    <td class="playlist-electro-swing"><p>Electro-Swing</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">17h-18h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">18h-19h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">19h-20h</th>
                    <td class="playlist-emission"><p>Emission</p></td>
                    <td class="playlist-emission"><p>Emission</p></td>
                    <td class="playlist-emission"><p>Emission</p></td>
                    <td class="playlist-emission"><p>Emission</p></td>
                    <td class="playlist-emission"><p>Emission</p></td>
                    <td class="playlist-emission"><p>Emission</p></td>
                    <td class="playlist-emission"><p>Emission</p></td>
                </tr>
                <tr>
                    <th scope="row">20h-21h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">21h-22h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">22h-23h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">23h-24h</th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                <tr>
                    <th scope="row">24h></th>
                    <td class="playlist-electro"><p>Electro</p></td>
                    <td class="playlist-jazz"><p>Jazz</p></td>
                    <td class="playlist-classique"><p>Classique</p></td>
                    <td class="playlist-commercial"><p>Commercial</p></td>
                    <td class="playlist-varietes"><p>Variétés</p></td>
                    <td class="playlist-latino"><p>Latino</p></td>
                    <td class="playlist-rap"><p>Rap</p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}