{% extends 'base.html.twig' %}

{% block main %}

    <section class="section-main text-center" style="background: black; color: white;">
        <h1 class="soulignement2 text-center">{{ user }}</h1>
        <img class="monAvatar" src="../img/miniatures/{{ avatar }}.png">
    </section>


{% endblock %}